.content.hide {
  display: none;
}

.second.hide {
  display: none;
}

.content {
  text-align: center;
  margin-top: 100px;
}

.content .txt {
  display: block;
  font-size: 1em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.content .operate input {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 40px;
  background: #eee;
  border: none;
  border-radius: 2px;
  padding: 0 15px;
}

.content .operate .search {
  margin-top: 100px;
  width: 174px;
  height: 48px;
  border-radius: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  background-color: #0080ff;
  text-decoration: none;
}

.content .operate a {
  text-decoration: none;
}

#subject .chart {
  width: 600px;
  margin: 0 auto;
}

#subject .chart a {
  color: #fff;
  width: 174px;
  height: 48px;
  border-radius: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  background-color: #0080ff;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  left: 30px;
}

#subject .manifest {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ccc;
}

#subject .manifest tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#subject .manifest tr input {
  width: 90px;
  padding: 2px 2px;
}

#subject .manifest tr:nth-child(even) {
  background-color: #f1f1f1;
}

#subject .manifest th {
  color: #fff;
  background-color: #0080ff;
  padding: 8px 8px;
  font-weight: bold;
}

#subject .manifest td {
  padding: 8px 8px;
}

#subject .manifest .twice {
  border: none;
}

#subject .manifest .twice th {
  background-color: #fff;
  color: #000;
}

#answer .chart {
  width: 600px;
  margin: 0 auto;
}

#answer .manifest {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ccc;
}

#answer .manifest tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#answer .manifest tr:nth-child(even) {
  background-color: #f1f1f1;
}

#answer .manifest th {
  color: #fff;
  background-color: #0080ff;
  padding: 8px 8px;
  font-weight: bold;
}

#answer .manifest td {
  padding: 8px 8px;
}

#answer .manifest .twice {
  border: none;
}

#answer .manifest .twice th {
  background-color: #fff;
  color: #000;
}

#function .download {
  margin-top: 100px;
  margin-left: 200px;
  width: 174px;
  height: 48px;
  border-radius: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  background-color: #0080ff;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  border-top: 1px solid #ccc;
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

footer > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

footer > div.active {
  background-color: #0080ff;
  -webkit-box-shadow: 0px 8px 48px 0px rgba(255, 212, 0, 0.4);
          box-shadow: 0px 8px 48px 0px rgba(255, 212, 0, 0.4);
  color: black;
}

footer span {
  display: block;
  margin-top: 5px;
}

footer .subject {
  background: url("../imge/subject.png") center center no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  margin-top: 10px;
}

footer .answer {
  background: url("../imge/answer.png") center center no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  margin-top: 10px;
}

footer .function {
  background: url("../imge/function.png") center center no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */